/*-- scss:defaults --*/

$body-bg: #17170e;
$body-color: #cbc7c1;
$link-color: #3be04e;
$presentation-heading-color: #e6e1d0;
$light-bg-text-color: #9c2e8f;
$code-block-font-size: 1em;
$presentation-heading-letter-spacing	: normal;
// $font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, Palatino !default;
/*-- scss:rules --*/

// headings
$presentation-heading-color: #383d3d !default;

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal strong, .reveal b {
  font-weight: bold;
  color: rgb(233, 233, 45);
  }